.session-history {
  width: 250px;
  border-right: 1px solid #d6d6d6;
  height: 100%;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
  padding: 8px 0;
  & > button {
    margin: 16px;
    width: calc(100% - 32px);
  }
  & > .title {
    display: flex;
    gap: 8px;
    padding: 8px 32px;
    align-items: center;

    font-size: 20px;
    & .material-symbols-outlined {
      font-size: 20px;
      font-variation-settings:
        "FILL" 0,
        "wght" 900,
        "GRAD" 0,
        "opsz" 24;
    }
  }

  & .session-list {
    height: calc(100% - 318px);
    padding: 8px 8px 0 24px;
    overflow-y: auto;

    & .item {
      font-size: 14px;
      padding: 4px 8px 4px 16px;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: all 0.4s ease-in-out;
      & > .title {
        flex-grow: 1;
      }

      button {
        width: 24px;
        height: 24px;
        padding: 4px;
        display: flex;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        & .material-symbols-outlined {
          font-size: 14px;
          font-variation-settings:
            "FILL" 0,
            "wght" 900,
            "GRAD" 0,
            "opsz" 24;
          display: flex;
          align-items: flex-end;
        }
      }

      &:hover {
        background-color: #e5e7eb;
        & button {
          opacity: 1;
        }
      }

      &.selected {
        background-color: rgb(234 88 12 / var(--tw-bg-opacity, 1));
        color: #fff;
        cursor: default;
      }
    }
  }
}

main:has(.session-history) {
  padding: 0 !important;

  & .mx-auto {
    margin: 0;
  }
  & .max-w-7xl {
    max-width: unset !important;
    height: 100%;
    & > div {
      height: 100%;

      & > div {
        height: 100%;
      }
    }
  }
}
